.App {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  font-weight: 500;
}

form input,
textarea {
  height: 40px;
  margin-top: 10px;
  border: 2px solid rgb(14, 14, 156);
  border-radius: 5px;
}
form textarea {
  height: 80px;
}
Link {
  text-decoration: none;
}

.product:hover {
  background-color: #164e63 !important;
  color: white;
  transform: scale(1.06);
  transition: transform 0.2s ease-out 0s;
}
